{% extends 'base.html.twig' %}
{% block body %}
    <twig:header/>
    {% if first_page is defined and first_page == true %}
    {% endif %}
    {% if book is defined and book is not null %}
        Book ID: {{ book.id }}
        <br>
        Book title: {{ book.title }}
        <br>
        BIENVENUE SUR LA PREMIERE PAGE DE VOTRE LIVRE
        <br>
        Book types:
        <ul>
            {% for type in book.types %}
                <li>{{ type.name }}</li>
            {% endfor %}
        </ul>
        <br>
        Book user: {{ book.user.email }}
    {% endif %}
    {% if first_page is defined and first_page == false %}
        <button type="button" class="add_item_link" data-collection-holder-class="targets">Add a target</button>
        <ul class="targets"
            data-index="{{ form.toTargets|length > 0 ? form.toTargets|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.toTargets.vars.prototype)|e('html_attr') }}"
        >
            {% for toTarget in form.toTargets %}
                <li> {{ form_row(toTarget.toPage) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.struct) }}
        {{ form_row(form.content) }}
        {{ form_row(form.filePath) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}