{% extends 'base.html.twig' %}

{% block body %}
    <twig:header/>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 px-4 py-8">
        {% if page is defined and page %}
            <div class="w-full max-w-4xl bg-white shadow-lg rounded-lg p-8 mb-8">
                <h1 class="text-3xl font-bold text-gray-800 mb-4">Modify Page: {{ page.content }}</h1>
                <p class="text-lg text-gray-600">Update the details of the selected page below.</p>
            </div>
        {% endif %}

        <div class="flex flex-col items-center w-full max-w-4xl bg-white shadow-lg rounded-lg p-8">
            {{ form_start(form, {'attr': {'class': 'flex flex-col w-full gap-6'}}) }}
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Update Page Details</h2>
            {{ form_row(form.title, {'label_attr': {'class': 'block text-lg font-medium text-gray-700 mb-2'}, 'attr': {'class': 'w-full px-4 py-2 rounded border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}

            {{ form_row(form.content, {'label_attr': {'class': 'block text-lg font-medium text-gray-700 mb-2'}, 'attr': {'class': 'w-full px-4 py-2 rounded border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}

            {{ form_row(form.struct, {'label_attr': {'class': 'block text-lg font-medium text-gray-700 mb-2'}, 'attr': {'class': 'w-full px-4 py-2 rounded border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}

            {{ form_row(form.filePath, {'label_attr': {'class': 'block text-lg font-medium text-gray-700 mb-2'}, 'attr': {'class': 'w-full px-4 py-2 rounded border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}

            {{ form_row(form.toTargets, {'label_attr': {'class': 'block text-lg font-medium text-gray-700 mb-2'}, 'attr': {'class': 'w-full px-4 py-2 rounded border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}

            {{ form_row(form.submit, {'attr': {'class': 'w-full px-4 py-2 text-white bg-blue-600 rounded shadow-lg hover:bg-blue-700 transition-all'}}) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
