{% extends 'base.html.twig' %}
{% block body %}
    <twig:header/>
    {% if error is defined and error != false %}
        {{ error }}
    {% endif %}
    <div class="col-12">
        {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.filePath) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}