{% extends 'base.html.twig' %}

{% block body %}
    <twig:header/>
    <div class="pt-6 px-20 border-neutral-800 border-t">
        <h1 class="text-3xl font-bold pb-4">{{ "book.list.text"|trans }}</h1>
        {{ form_start(form) }}
        <div class="flex grid-cols-3 gap-6">
        {{ form_row(form.search) }}
        {{ form_row(form.author) }}
        {{ form_row(form.rate) }}
        {{ form_row(form.types) }}
        {{ form_row(form.maxPage) }}
        </div>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}

        <ul class="grid grid-cols-5 gap-x-24 gap-y-12 mb-4">
            {% if books is defined and books|length > 0 %}
                {% for book in books %}
                    <li>
                        <a href="{{ path('book_show', {'id': book.id}) }}" class="flex flex-col items-center">
                            <img src="{{ asset('uploads/book/' ~ book.filePath) }}" alt="{{ book.title }}" class="rounded shadow-lg"/>
                            <p class="font-bold pt-2">{{ book.title }}</p>
                            {% set author = book.user.email|split('@') %}
                            <p class="font-light">{{ author[0] }}</p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>No books found.</li>
            {% endif %}
        </ul>

        <div class="pagination flex justify-center gap-4 mt-4 mb-4">
            {% if prevPage %}
                <a href="{{ path('book_show_all', { page: 1}) }}" class="py-2 px-4 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">{{ "paginator.first"|trans }}</a>
                <a href="{{ path('book_show_all', { page: prevPage }) }}" class="py-2 px-4 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">{{ "paginator.previous"|trans }}</a>
            {% endif %}
            <span class="py-2 px-4 bg-gray-100 rounded">{{ "Page" }} {{ currentPage }} {{ "of" }} {{ totalPages }}</span>
            {% if nextPage %}
                <a href="{{ path('book_show_all', { page: nextPage}) }}" class="py-2 px-4 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">{{ "paginator.next"|trans }}</a>
                <a href="{{ path('book_show_all', { page: totalPages }) }}" class="py-2 px-4 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">{{ "paginator.last"|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_css') }}
    <style>
        .form-control {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            transition: border-color 0.2s ease;
        }
        .form-control:focus {
            border-color: #80bdff;
            outline: none;
        }
        #rateInput {
            display: none;
        }
        .rating {
            display: flex;
            cursor: pointer;
        }
        .rating-star {
            font-size: 1.5rem;
            color: #ccc;
        }
        .rating-star.active {
            color: #f5d142;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script>
        document.getElementById('rateInput').addEventListener('input', function() {
            let rateValue = parseInt(this.value);
            let ratingStars = document.querySelectorAll('.rating-star');
            ratingStars.forEach((star, index) => {
                star.classList.toggle('active', index < rateValue);
            });
        });
    </script>
{% endblock %}
