{% extends 'base.html.twig' %}
{% block body %}
    {% set firstPage = book.pages|filter(p => p.parent is null)|first %}
    <ul class="flex justify-between shadow px-20 py-4">
        <li><a href="{{ path('book_show_all') }}" class="text-3xl">{{ "header.all_books"|trans }}</a></li>
        <li class="text-3xl font-bold">{{ book.title }}</li>
        {% set author = book.user.email|split('@') %}
        <li class="text-3xl text-light">{{ author[0] }}</li>
    </ul>
    <div class="flex px-20 gap-8 py-4 mt-8 h-fit">
        <div class="w-4/12 flex flex-column justify-center h-fit">
            {% if firstPage is defined and firstPage != false %}
                <a href="{{ path('page_show', { 'bookId': book.id, 'pageId': firstPage.id }) }}"
                   class="text-2xl h-fit flex justify-center hover:scale-105 transition ease-in-out delay-250 hover:opacity-75">
                    <img src="{{ asset('uploads/book/' ~ book.filePath) }}" alt="{{ book.title }}"
                         class="rounded shadow-lg"/>
                </a>
            {% endif %}
        </div>
        <div class="w-8/12 flex flex-col h-fit">
            <h2 class="text-2xl font-medium pb-2 border-b-2">Information :</h2>
            <ul class="flex flex-col">
                <li class="border-b-2 py-4">
                    <span class="font-medium">Name: </span>
                    <span class="font-light">{{ book.title }} </span>
                </li>
                <li class="border-b-2 py-4">
                    <span class="font-medium">Auteur: </span>
                    <span class="font-light">{{ author[0] }} </span>
                </li>
                <li class="border-b-2 py-4">
                    <span class="font-medium">Type: </span>
                    {% for type in book.types %}
                        <p>Type: <span class="font-light">{{ type }}</span></p>
                    {% endfor %}
                </li>
                <li class="border-b-2 py-4">
                    <span class="font-medium">Date of create : </span>
                    <span class="font-light">{{ book.createdAt|date("m/d/Y") }} </span>
                </li>
                <li class="border-b-2 py-4">
                    <span class="font-medium">Date of last update: </span>
                    <span class="font-light">{{ book.updatedAt|date("m/d/Y") }} </span>
                </li>
            </ul>
            <div class="flex gap-4 items-center my-4">
                {% if firstPage is defined and firstPage != false %}
                <a href="{{ path('page_show', { 'bookId': book.id, 'pageId': firstPage.id }) }}"
                   class="text-2xl flex justify-center">
                    <p class="border-2 rounded py-2 px-4">LIRE</p>
                </a>
                {% endif %}
                <a href="{{ path('book_update', { 'id': book.id }) }}" class="text-2xl flex justify-center">
                    <p class="border-2 rounded py-2 px-4">MODIFIER</p>
                </a>
            </div>
            <div class="rating-form-container">
                <h2 class="text-2xl font-bold mb-4">Rate this Book</h2>
                {{ form_start(form, {'attr': {'class': 'w-full max-w-md space-y-4'}}) }}
                <div class="form-group">
                    {{ form_label(form.rate, 'Rate', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.rate, {'attr': {'class': 'mt-1 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
                    {{ form_errors(form.rate) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.comment, 'Your comment', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.comment, {'attr': {'class': 'mt-1 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md'}}) }}
                    {{ form_errors(form.comment) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500'}}) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_css') }}


    <style>
        .form-group {
            margin-bottom: 1rem;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}