{% extends 'base.html.twig' %}
{% block body %}
    <twig:header/>
    <div class="pt-6 px-20 border-neutral-800 border-t">
        <h1 class="text-3xl font-bold pb-4">{{ "book.list.text"|trans }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.search) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <ul class="grid grid-cols-5 gap-x-24 gap-y-12 mb-4">
            {% if books is defined and books is not empty %}
            {% for book in books %}
                <li>
                    <a href="{{ path('book_show', {'id': book.id})}}" class="flex flex-col items-center">
                        <img src="{{ asset('uploads/671792937df75.png') }}" alt="name" class="rounded shadow-lg"/>
                        <p class="font-bold pt-2">{{ book.title }}</p>
                        {% set author = book.user.email|split('@') %}
                        <p class="font-light">{{ author[0] }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {% if prevPage %}
                <a href="{{ path('book_show_all', { page: 1}) }}">{{ "paginator.first"|trans }}</a>
                <a href="{{ path('book_show_all', { page: prevPage }) }}">{{ "paginator.previous"|trans }}</a>
            {% endif %}
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            {% if nextPage %}
                <a href="{{ path('book_show_all', { page: nextPage}) }}">{{ "paginator.next"|trans }}</a>
                <a href="{{ path('book_show_all', { page: totalPages }) }}">{{ "paginator.last"|trans }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}