{% extends 'base.html.twig' %}
{% block body %}
    <twig:header/>
    <div class="mt-12 px-12">
        <h1>{{ "book.list.title"|trans }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.search) }}
        {{ form_row(form.author) }}
        {{ form_row(form.rate) }}
        {{ form_row(form.types) }}
        {{ form_row(form.fromPage) }}
        {{ form_row(form.toPage) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <ul class="grid grid-cols-5 gap-28 ">
            {% if books is defined and books is not empty %}
            {% for book in books %}
                <li>
                    <img src="{{ asset('uploads/671792937df75.png') }}" alt="name"/>
                    <p>{{ book.title }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {% if prevPage %}
                <a href="{{ path('book_show_all', { page: 1}) }}">{{ "paginator.first"|trans }}</a>
                <a href="{{ path('book_show_all', { page: prevPage }) }}">{{ "paginator.previous"|trans }}</a>
            {% endif %}
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            {% if nextPage %}
                <a href="{{ path('book_show_all', { page: nextPage}) }}">{{ "paginator.next"|trans }}</a>
                <a href="{{ path('book_show_all', { page: totalPages }) }}">{{ "paginator.last"|trans }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}