<footer class="w-full">
    <div class="inline-flex justify-between px-20 font-medium text-sm w-full">
        <ul class="flex gap-6">
            <li>{{ "footer.policy"|trans }}</li>
            <li>{{ "footer.terms"|trans }}</li>
        </ul>
        <h1>{{ "footer.copyright"|trans }}</h1>
        <ul class="flex gap-6">
            <li>{{ "header.about"|trans }}</li>
            <li>{{ "header.contact"|trans }}</li>
        </ul>
    </div>
</footer>